<!--
  Customer account invite
  Sent to the customer with account activation instructions. You can edit this email before you send it.
  Subject: Customer account activation
-->
<div itemscope itemtype="http://schema.org/EmailMessage">
  <meta itemprop="description" content="Activate Your Account" />
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="https://path.to/activate" />
    <meta itemprop="name" content="Activate Account" />
  </div>
</div>
{{ custom_message }}